<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Custon CSS-->
    <link type="text/css" rel="stylesheet" media="screen" href="../static/css/estilo.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Icon site-->
    <link rel="shortcut icon" href="/img/icon.png">
    <title>Projeto Integrador 6</title>
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#home">Projeto Integrador 6</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Inicio<span class="sr-only"> (Atual)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="dashboard-single.html">Dashboard Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="dashboard.html">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  <main>
        <!--Sessão da introdução-->
        <div class="intro">
          <h1>Quem somos ?</h1>
          <p class="fs-4">Somos um grupo que tem como objetivo fazer o monitoramento de redes usando a linguagem python e algumas outra ferramentas.</p>
        </div>
        <!--Sessão de features-->
        <div class="card">
          <h5 class="card-header">O que fazemos para monitorar a sua rede ?</h5>
          <div class="card-body">
            <h5 class="card-title">Uma palavra: Python</h5>
            <p class="card-text">Quer saber mais?</p>
            <a href="#metodo" class="btn btn-primary">Quero saber mais</a>
          </div>
        </div>
        <!--Sessão sobre da intro-->
        <div id="intro" class="intro-index">
          <h1>INTRODUÇÃO</h1>
          <p>
            Grandes eventos mundiais moldam as transformações no cenário corporativo e empresarial, que é evidenciado nas grandes revoluções que aconteceram durante a história. As revoluções industriais historicamente criaram as novas tendências mundiais de produção e organização de trabalho. A terceira revolução industrial, marcada pela substituição gradual da mecânica analógica pela digital, uso de microcomputadores e, principalmente, pela criação da internet em 1969, transformou a vida em todo o mundo e o modus operandi de grandes empresas, que abandonaram burocracias outrora necessárias e adotaram toda a praticidade do universo digital, mas que caminha a passos largos rumo a novas transformações, com as tendências da chamada 4ª Revolução Industrial  cada vez mais sendo naturalizadas.
            Cada vez mais debatida no meio empresarial, a Transformação Digital tem imposto uma série de mudanças à rotina de grandes empresas. Ainda que seja apenas o começo dessa transformação, fica cada vez mais evidente que o preparo pra essa nova realidade no futuro será um fator determinante para a sobrevivência no mercado de trabalho e manutenção de posicionamentos estratégicos neste. O aumento do tráfego de redes corporativas tem sido vertiginoso. Dados apontam que até o ano de 2021, cerca de 278 exabytes de dados serão gerados mensalmente, o que demanda cada vez mais a modernização da infraestrutura e capacitação dos profissionais da área, a fim de manter a integridade e segurança dos dados intactas.
            Dentre as novas tendências, é cada vez mais notória a iminência de dispositivos com conexão sem fio – wireless -, e como estas vem se tornando, com o passar do tempo, a principal forma de conexão e comunicação via redes. Segundo dados do relatório Visual Networking Index (VNI), a porcentagem de ligações gerais à internet, em 2021, será de 53% via Wi-Fi, 20% via celulares e 27% com origem cabeada. Portanto, torna-se importante o desenvolvimento de ferramentas para fazer o controle dos dados gerados e armazenados pelas corporações.
            Com referência nas informações apresentadas, este projeto tem como propósito atuar no monitoramento do tráfego de redes corporativas através de um sistema de registro de informações pertinentes ao tráfego de rede de quaisquer dispositivos cadastrados, que abre margem para diversas implementações e projetos de redução de consumo de dados e, posteriormente, de custos. 

          </p>
        </div>  
        <!--Sessão de citação-->
        <div class="card">
          <div class="card-header">
            Mas por que monitorar as redes de computadores ?
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                - Hoje, a noção de “rede” é onipresente, e mesmo onipotente, em todas as disciplinas; nas ciências sociais, ela define sistemas de relações (redes sociais, de poder...) ou modos de organização (empresa-rede, por exemplo); na física, ela se identifica com a análise dos cristais e dos sistemas desordenados (percolação); em matemática, informática e inteligência artificial, ela define modelos de conexão (teoria dos grafos, cálculos sobre rede, conexionismo...); nas tecnologias, a rede é a estrutura elementar das telecomunicações, dos transportes ou da energia; em economia, ela permite pensar as novas relações entre atores na escala internacional (redes financeiras, comerciais...) ou elaborar modelos teóricos (economia de rede, intermediação); a biologia é apreciadora dessa noção de rede que, tradicionalmente, se identifica com a análise do corpo humano (redes sanguíneas, nervosas, imunológicas...).
              </p>
              <footer class="blockquote-footer">Pierre Musso<cite title="Source Title"> A filosofia da rede</cite></footer>
            </blockquote>
          </div>
        </div>
        <!--Sessão de materias e metodos-->
        <div id="metodo" class="metodo-index">
          <h1>MATERIAIS E MÉTODOS</h1>
          <p>
            Para que o projeto pudesse ser desenvolvido de maneira adequada e coerente as propostas que este possui, foi necessário o estudo e aprofundamento da área de infraestrutura de redes, cibersegurança e técnicas de desenvolvimento Web. Para definição do tema central do projeto, foram levantadas ideias sobre tópicos de priorização através do desenvolvimento de um processo de Brainstorming, aliado a questionamentos inspirados em softwares já disponíveis no mercado e estratificados com o uso da ferramenta de estratificação 5W2H, e elencados em uma matriz de Impacto-Esforço – dentro dos critérios de tempo, habilidades dos integrantes e infraestrutura de desenvolvimento - Isso tornou possível o desenvolvimento de um sistema de monitoramento de tráfego e de uma interface para uso de um usuário responsável pela administração do sistema, que fará a análise, controle e criação de indicadores dos dados e alterações conforme necessidade.
            O projeto foi desenvolvido para sistemas web usando o desenvolvimento web básico, com auxílio de alguns frameworks e APIs (Application Programming Interfaces – Interfaces de Programação de Aplicações).
            Python é uma linguagem de programação de alto nível, onde é interpretada e orientada a objetos. Ela é focada em priorizar a legibilidade do código sobre a velocidade ou expressividade, combinando uma sintaxe objetiva e clara com os recursos de sua biblioteca padrão e sendo possível a utilização de frameworks desenvolvidos por terceiros. Sendo muito utilizada por conta de suas características em processamento de textos, dados científicos e criação de CGIs (Common Gateway Interface – Interface Comum de Gateway) para páginas dinâmicas para a web. Alguns dos softwares que serviram de base como exemplo de software para o desenvolvimento do projeto foram: 

          </p>
        </div>
  </main>
      <!--Roda Pé-->
      <footer class="sticky-footer">
        <div class="container">
          <div class="text-center">
            <small>Projeto Integrador 2021</small>
          </div>
        </div>
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>