*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    padding:0;
    text-align:center;
}
main{
    padding:40px;
    font-family: fantasy;
    color:#fff;
    background-color: rgba(33,37,41,255);

}
.intro{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}
.card{
    color: #000;
}
.intro-index p{
    text-align:justify;
}
.intro-index h1{
    text-align:center;
}
.cada-login{
    text-align:center;
    
}